<div class="cardContent">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Buenos Aires</h5>
                        <h6 class="card-subtitle mb-2 text-muted">¿Venís a Buenos Aires?</h6>
                        <p class="card-text">¡La Ciudad recibe a todos los turistas: nacionales e internacionales!
                            Enterate cuáles son los requisitos para ingresar y
                            todo lo que podés hacer.</p>
                        <a href="https://turismo.buenosaires.gob.ar/es" class="card-link">Veni!</a>
                        <a href="https://turismo.buenosaires.gob.ar/es/que-hacer-en-la-ciudad"
                            class="card-link">Actividades</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Cataratas del Iguazu</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Parque Nacional
                            Iguazú</h6>
                        <p class="card-text">El Río Iguazú, que significa en guaraní agua grande, desemboca en el Paraná
                            creando un manto de agua de un ancho de 1500
                            metros, que salpica islas e islotes hasta llegar a un barranco de lava formado hace 120
                            millones de años.</p>
                        <a href="https://iguazuargentina.com/parquenacionaliguazu" class="card-link">El Parque</a>
                        <a href="https://iguazuargentina.com/" class="card-link">Iguazu</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">Bariloche</h5>
                        <h6 class="card-subtitle mb-2 text-muted">¡Porque Bariloche lo tiene todo, todo el año!</h6>
                        <p class="card-text">Bariloche es una ciudad ubicada entre bosques milenarios, montañas
                            cubiertas de nieve y lagos cristalinos, en la
                            provincia de Río Negro, Argentina. Se trata de una postal de nuestra Patagonia. Una ciudad
                            anfitriona por excelencia,
                            enmarcada por algunas de las bellezas naturales más importantes del país.</p>
                        <a href="https://barilocheturismo.gob.ar/es/home" class="card-link">Bariloche</a>
                        <a href="https://barilocheturismo.gob.ar/es/eventos" class="card-link">Eventos</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Parque Nacional Los Glaciares</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Provincia de Santa Cruz</h6>
                        <p class="card-text">Los glaciares protegidos en este Parque, generados hace siglos y aún
                            milenios, son testimonio de enormes masas de hielo
                            que dominaron parte del planeta durante los últimos dos millones de años y presenciaron el
                            nacimiento de la humanidad.</p>
                        <a href="http://www.losglaciares.com/es/parque/index.html" class="card-link">Parque Nacional</a>
                        <a href="http://www.losglaciares.com/es/parque/index.html#2" class="card-link">Actividades</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>